body{
  font-family:Cormorant, serif;
}

/* header styles  */

h1{
  display: inline-block;
  font-weight: 300;
  margin: 0 32px 0 0;
}

.navbar{
margin: 32px;
}

.links {
  display: inline-block;
}

.links li {
  display: inline-block;
  color: #000;
}

.navbar a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  margin: 0 8px;
  
}

.links ul {
  padding: 0;
}

a.active {
  border-bottom: 1px solid #000;
}

.gallery{
 margin:16px
}

/* gallery styles  */

.card{
  width: 49.75%;
  display: inline-block;
  box-sizing: border-box;
  padding: 16px;
}

.card img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  
}

.card h2 {
  font-size: 300;
  margin: 8px 0 16px 0
}

.card img:hover{
  opacity: 0.9;
}

/* footer styles  */

.about {
  width: 40%;
  min-width: 600px;
  margin: 100px 0 100px 200px;
}

.about h3{
  font-size: 40px;
  font-weight: 300;
}

.contact {
  margin-top: 100px;
}

.contact p {
  margin: 0;
  font-size: 20px;
}

.cta {
  border-bottom: 1px solid black;
  display: inline-block;
  padding-bottom: 8px;
  margin-top: 0;
}
