body{
  font-family:Cormorant, serif;
}

h1{
  display: inline-block;
  font-weight: 300;
  margin: 0 32px 0 0;
}

.navbar{
margin: 32px;
}

.links {
  display: inline-block;
}

.links li {
  display: inline-block;
  color: #000;
}

.navbar a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  margin: 0 8px;
  
}

.links ul {
  padding: 0;
}

a.active {
  border-bottom: 1px solid #000;
}

